 @model MyWallet.Web.ViewModels.Category.CreateCategoryViewModel

<div class="">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")">Categories</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @class = "user" }))
        {
            <fieldset>
                <legend>New Category</legend>
                <hr />  
                <div class="form-group">
                    @Html.LabelFor(c => c.Name)
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(c => c.Name, new { @class = "form-control form-control-user" })
                </div>
                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Save</span>
                </button>
            </fieldset>
        }
    </div>
</div>