@model MyWallet.Web.ViewModels.Income.ListAllIncomeViewModel

<h1 class="h3 mb-2 text-gray-800">Income</h1>

<div class="row" style="margin-bottom: 20px">
    <div class="col-md-12">
        <button id="btnOpenIncomeModal" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-plus-circle"></i>
            </span>
            <span class="text">Add Income</span>
        </button>
    </div>
</div>

<div class="card shadow mb-4">
    <div class="card-body">
        <div id="divIncomeDataTable" class="table-responsive">
            @Html.Partial("PartialView/_IncomeList", Model)
        </div>
    </div>
</div>




@section scripts {
    @Scripts.Render("~/bundles/jquery-val")

    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
}

@section otherCss{
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}