@model MyWallet.Web.ViewModels.Import.ImportViewModel

<div class="row">
    @using (Html.BeginForm("Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <fieldset>
            <legend class="text-center">Import Income/Expenses</legend>
            <div class="form-group row justify-content-center">
                <div class="col-sm-6 mb-3 mb-sm-0 col-md-12">
                    <div class="input-group mb-3" style="margin-top: 15px;">
                        <div class="custom-file">
                            @Html.TextBoxFor(m => m.File, new { type = "file", @class = "custom-file-input" })
                            <label class="custom-file-label" for="Name">Choose File</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">

                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-file-upload"></i>
                        </span>
                        <span class="text">Upload</span>
                    </button>
                </div>
            </div>
        </fieldset>
    }
</div>
