@model MyWallet.Web.ViewModels.User.UserViewModel

<div class="row">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "user", enctype = "multipart/form-data" }))
    {
        <div class="text-center">
            <h1 class="h4 text-gray-900 mb-4">Edit your Account</h1>
        </div>

        <div class="form-group row justify-content-center">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="col-md-12">
                    <img src="~/Content/Img/img_avatar.png" class="img-thumbnail" />
                </div>
                <div class="input-group mb-3" style="margin-top: 15px;">
                    <div class="custom-file">
                        @Html.TextBoxFor(m => m.Photo, new { type = "file", @class = "custom-file-input" })
                        <label class="custom-file-label" for="Name">Choose file</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-user", placeholder = "First Name" })
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" id="exampleLastName" placeholder="Last Name">
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Email Address">
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
            </div>
            <div class="col-sm-6">
                <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" placeholder="Repeat Password">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">

                <button type="submit" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Save</span>
                </button>
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-secondary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-undo-alt"></i>
                    </span>
                    <span class="text">Reset</span>
                </button>
            </div>
        </div>
    }
</div>
