@model MyWallet.Web.ViewModels.Expense.ExpenseViewModel

<div class="modal fade" id="deleteExpenseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("Delete", null, FormMethod.Post, new { id = "formModalDeleteExpense" }))
            {
                @Html.HiddenFor(m => m.Id, new {id = "idModalDeleteExpense"})
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You are about to exclude expense X. Do you want to confirm deletion? </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <button id="btnDeleteExpense" type="button" class="btn btn-danger btn-circle">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            }
        </div>
    </div>
</div>